.team-info-wrapper {
  width: 100%;
  min-height: 50px;
  display: flex;
  padding: 0 10px;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}

.team-info-wrapper__team-name {
  font-weight: bold;
}

.team-info-warning {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 100;
}

.team-info-warning__shade {
  position: fixed;
  background: black;
  height: 100%;
  width: 100%;
  opacity: 0.6;
}

.team-info-warning__modal {
  min-height: 100px;
  background: white;
  max-width: 500px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  border-radius: 5px;
}

.team-info-warning__modal-message {
  text-align: center;
  font-weight: bold;
}

.team-info-warning__modal-buttons {
  display: flex;
  margin: 10px;
  justify-content: center;
}

.team-info-warning__modal-buttons > * {
  width: 115px;
  margin: 0 10px;
}
