.lobby__list-container {
  background: white;
  padding: 20px;
}

.lobby__list-label {
  font-weight: bold;
}

.lobby__list {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.lobby__list-item {
  display: flex;
  border: 1px solid black;
  padding: 10px;
  margin: 2px 0;
  align-items: center;
  min-height: 60px;
}

.lobby__list-item-label {
  font-weight: bold;
  flex: 1 1 auto;
}

.lobby__list-item-buttons {
  flex: 0 0 auto;
}

.team-action-buttons__label {
  color: black;
}

.team-action-buttons__badge {
  padding-right: 0.6em;
  padding-left: 0.6em;
  border-radius: 10rem;
  color: #fff;
  background-color: #28a745;
}

.team-action-buttons__container button {
  user-select: none;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  cursor: pointer;
}

.team-action-buttons__container button.action-success {
  color: #fff;
  background-color: #28a745;
  border-color: #28a745;
}

.team-action-buttons__container button.action-success:hover {
  background-color: #218838;
  border-color: #1e7e34;
}

.team-action-buttons__container button.action-danger {
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
}

.team-action-buttons__container button.action-danger:hover {
  background-color: #c82333;
  border-color: #bd2130;
}

.team-action-buttons__container button.action-info {
  background-color: #17a2b8;
  border-color: #17a2b8;
  color: white;
}

.team-action-buttons__container button.action-info:hover {
  background-color: #138496;
  border-color: #117a8b;
}

.team-action-buttons__container button:first-child {
  margin-right: 5px;
}
